html, body{
    height: 100%;
    text-align: center;
}

/* Forsiden */
header{
    background-image: url(forsiden.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
}

#tekst{
    padding-top: 250px;
}
/* Forsiden slut */

.ita{
    height: 120vh;
    background-image: url(Asset%202.png);
    background-size: cover;
    padding-top: 80px;
}

.dk{
    height: 120vh;
    background-color: white;
    padding-top: 80px;
}

.fakta{
    height: 120vh;
    background-image: url(Asset%202.png);
    background-size: cover;
    padding-top: 80px;
}

.citat{
    height: 120vh;
    background-color: white;
    padding-top: 80px;
}

a{
    font-family:'Roboto', sans-serif;
}

a:link {color: #f22626; text-decoration: none;
}

a:visited
{color: white;
}

a:hover{
    color: white;
    text-decoration: underline;
}

img{
    max-height: 300px;
    align-items: center;
}

h2 {
    padding: 20px;
    font-family: 'Cinzel', serif;
    margin: 75px;
     color: #f22626; 
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

p{
    padding-left: 50px;
    padding-right: 50px;
}

p, img{
  font-family: 'Roboto', sans-serif;
    margin: 75px;
    max-width: 600px;
    margin: 0 auto 20px;
    max-width: 600px;
}

footer{
    text-align: center;
}

/* css kode til vores scrollbar */
.box{ 

    height: 300px; 

    overflow-x: scroll; 

    overflow-y: hidden; 

    white-space: nowrap; 

} 

.box::-webkit-scrollbar{ 

    display: none; 

} 

.card-a{ 

    display: inline-block; 

    height: 100%; 

    width: 400px; 

} 

.card-b{ 

    display: inline-block; 

    height: 100%; 

    width: 400px; 

     

} 

.card-c{ 

    display: inline-block; 

    height: 100%; 

    width: 400px; 

     

} 

.card-d{ 

    display: inline-block; 

    height: 100%; 

    width: 400px; 

     

} 

.card-e{ 

    display: inline-block; 

    height: 100%; 

    width: 400px; 

} 

.card-f{ 

    display: inline-block; 

    height: 100%; 

    width: 400px; 

} 

.card-g{ 

    display: inline-block; 

    height: 100%; 

    width: 400px; 

} 

/*scrollbaren slutter her */

#mitgrid{
    display: grid;
    grid-gap: 5fr;
    grid-template-columns:1fr;
    grid-template-areas: 
        "a"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "l"
}

#forside {
    grid-area: a;
}


#italiensk morgenmad {
    grid-area: c; 
}

#billede til italien {
    grid-area: d;
}

#typisk dansk morgenmad{
    grid-area: e;
}

#billede til dansk morgenmad{
    grid-area: f;
}

#faktaboks{
    grid-area: g;
}

#fakta billede{
    grid-area: h;
}

#faktaboks{
    grid-area: i;
}

#produkt{
    grid-area: l;
  
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  #mitgrid{
    display: grid;
    grid-gap: 5fr;
    grid-template-columns:1fr, 1fr;
    grid-template-areas: 
        "a a"
        "c d"
        "f e"
        "h h"
        "g g"
        "l l";
}
    
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
      #mitgrid{
    display: grid;
    grid-gap: 5fr;
    grid-template-columns:1fr, 1fr;
    grid-template-areas: 
        "a a"
        "c d"
        "f e"
        "g h"
        "l l";
}
   
}




