    html,
    body {
        height: 100%;
        text-align: center;
        background-image: url(Asset%202.png);
        background-size: cover;
    }
/* billederne */
    .bi {
        width: 80%;
        max-width: 600px;
        box-shadow: 10px 10px 5px grey;
    }

    .bd {
        width: 80%;
        max-width: 600px;
        box-shadow: 10px 10px 5px grey;
    }

    .bf {
        width: 80%;
        max-width: 600px;
        align-items: center; 
        padding-bottom: 50px;
    }
/* billederne slut */

    /* Forsiden */
    #forside {
        background-image: url(forsiden.jpg);
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    /* Forsiden slut */

    #ita,
    #bita {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    #dk,
    #bdk {
        background-color: white;
        background-size: cover;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }

    #faktaboks, #bfakta {
        height: 50vh;
        justify-content:center;
        align-items:center;
        padding-top: 20px;
        font-family: 'Roboto', sans-serif;
    }

     #bfakta {
        padding-top: 100px;
    }


    .info {
        justify-content: flex-end;
        font-size: 2vw;
        font-family: 'Roboto', sans-serif;
    }


    /* læs mere knappen */
    a {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
      
    }

    a:link {
        color: #ffffff;
        text-decoration: none;
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: white;
        text-decoration: underline;
    }
    /* slutning til læs mere */

    h3 {
        font-family: 'Roboto', sans-serif;
        margin: 75px;
        max-width: 500px;
        margin: 0 auto 20px;
        text-align: center;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 3vw;
    }


    h1 {
        font-size: 6vw;
    }

    h2 {
        padding: 20px;
        font-family: 'Cinzel', serif;
        margin: 75px;
        color: #f22626;
        max-width: 500px;
        margin: 0 auto 20px;
        text-align: center;
        padding-top: 20px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 5vw;
    }

    p {
        margin: 75px;
        max-width: 500px;
        margin: 0 auto 20px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 3vw;
    }


    footer {
        text-align: center;
        font-size: 1vw;
    }


    /* css kode til vores scrollbar */
    .box {
        background-color: white;

        height: 300px; 
        
        overflow-x: scroll;

        overflow-y: hidden;

        white-space: nowrap;
        

    }

    .box::-webkit-scrollbar {

        display: none;

    }

    .card-a {

        display: inline-block;

        height: 100%;

        width: 400px;

    }

    .card-b {

        display: inline-block;

        height: 100%;

        width: 400px;


    }

    .card-c {

        display: inline-block;

        height: 100%;

        width: 400px;



    }

    .card-d {

        display: inline-block;

        height: 100%;

        width: 400px;



    }

    .card-e {

        display: inline-block;

        height: 100%;

        width: 400px;

    }

    .card-f {

        display: inline-block;

        height: 100%;

        width: 400px;

    }

    .card-g {

        display: inline-block;

        height: 100%;

        width: 400px;

    }
    /*scrollbaren slutter her */

    #mitgrid {
        display: grid;
        grid-gap: 10fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "h"
            "i"
            "j"
            "l"
            "k"
    }

    #forside {
        grid-area: a;
    }


    #ita {
        grid-area: b;
    }

    #bita {
        grid-area: c;
    }

    #dk {
        grid-area: d;
    }

    #bdk {
        grid-area: e;
    }

    #bfakta {
        grid-area: g;
    }

    #faktaboks {
        grid-area: h;
    }

    #citat {
        grid-area: i;
        padding-top: 90px;
        background-color: white;
        background-size: cover;
        text-align: center;
    }

    .box {
        grid-area: j;

    }

    footer {
        grid-area: k;
        background-color: white;
        background-size: cover;
        text-shadow: 1px 0.1px;
        text-align: center;
    }


    /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

    @media (min-width: 400px) and (max-width: 1024px) {

        #mitgrid {
            display: grid;
            grid-template-columns: 1fr, 1fr;
            grid-template-areas:
                "a a"
                "b c"
                "e d"
                "g g"
                "h h"
                "i i"
                "j j"
                "l l"
                "k k";
        }

        
        #ita, #bita {
            height: 100vh;
        }
        
        #ita{
            padding-left: 50px;
        }

        #dk,
        #bdk {
            height: 100vh;
        }
        
    .bi {
        width: 80%;
        max-width: 600px;
    }

    .bd {
        width: 80%;
        max-width: 600px;
    }

    .bf {
        width: 80%;
        max-width: 600px;
    }

        #bfakta,
        #faktaboks {
            height: 50vh;
        }
        
        .bf {
        width: 70%;
        max-width: 600px;
            }
    .bi {
        padding-bottom: 0px;
        box-shadow: 10px 10px 5px grey;
    }

    .bd {
        padding-bottom: 0px;
        box-shadow: 10px 10px 5px grey;
    }


        h3 {
            font-size: 2vw;
        }

        h1 {
            font-size: 5vw;
        }

        h2 {
            font-size: 4vw;
        }

        p {
            font-size: 2vw;
            width: 250px
        }

        a {
            font-size: 2vw;
        }
    }



    /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

    @media (min-width: 1024px) {
        #mitgrid {
            display: grid;
            grid-template-columns: 1fr, 1fr;
            grid-template-areas:
                "a a"
                "b c"
                "e d"
                "h g"
                "i i"
                "j j"
                "l l"
                "k k";
        }


   #ita,
    #bita {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #dk,
    #bdk {
        background-color: white;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

     #bfakta,  #faktaboks {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .bi {
        padding-bottom: 0px;
        box-shadow: 10px 10px 5px grey;
    }

    .bd {
        padding-bottom: 0px;
        box-shadow: 10px 10px 5px grey;
    }

        .bf{
            padding-bottom: 200px;
        }

        h3 {
            font-size: 1vw;
        }

        h1 {
            font-size: 4vw;
        }

        h2 {
            font-size: 2.5vw;
        }

        p {
            font-size: 1.5vw;
        }

        a {
            font-size: 1vw;
        }

    }